#excludeCompilation {
    margin-top: 0;
}

#excludeCompilation input {
    margin-top: 0.7rem;
}

#excludeHeader {
    display: block;
    margin: 0 0 0.28571429rem 0;
    color: var(--form-label-color);
    font-size: 0.92857143em;
    font-weight: bold;
    text-transform: none;
}

.ui.multiple.search.dropdown>input.search {
    width: auto;
}