
.page-home {
  .ui.list .list.icon {
    padding: 0;
  }

  h1.header, h1 .sub.header {
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    color: #fff !important;
  }
  h1.ui.header {
    @include media(">tablet") {
      font-size: 3em;
    }
  }
  h1.ui.header .sub.header {
    font-size: 0.8em;
  }
  .main.pusher {
    margin-top: 0;
    min-height: 10em;
  }
  section.segment.head {
    padding: 8em 3em;
    background: linear-gradient(90deg, rgba(40,88,125,1) 0%, rgba(64,130,180,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #pod {
    font-size: 110%;
    display: block;
  }
}
