@use "./_vars" as *;

// not in vars because not meant to be overriden
$desktop-sidebar-width: 275px;
$widedesktop-sidebar-width: 275px;
$bottom-player-height: 4rem;

@import "./globals/_fomantic.scss";
@import "./vendor/_media.scss";

@import "./globals/_app.scss";
@import "./globals/_channels.scss";
@import "./globals/_layout.scss";
@import "./globals/_typography.scss";
@import "./globals/_utils.scss";

@import "./components/_action_table.scss";
@import "./components/_album_card.scss";
@import "./components/_attachment_input.scss";
@import "./components/_avatar.scss";
@import "./components/_builder.scss";
@import "./components/_button.scss";
@import "./components/_card.scss";
@import "./components/_content_form.scss";
@import "./components/_copy_input.scss";
@import "./components/_empty_state.scss";
@import "./components/_form.scss";
@import "./components/_file_upload.scss";
@import "./components/_fs_browser.scss";
@import "./components/_fs_logs.scss";
@import "./components/_header.scss";
@import "./components/_label.scss";
@import "./components/_modal.scss";
@import "./components/_pagination.scss";
@import "./components/_placeholder.scss";
@import "./components/_play_button.scss";
@import "./components/_player.scss";
@import "./components/_playlist_editor.scss";
@import "./components/_queue.scss";
@import "./components/_settings_group.scss";
@import "./components/_search.scss";
@import "./components/_sidebar.scss";
@import "./components/_table.scss";
@import "./components/_tags_list.scss";
@import "./components/_tooltip.scss";
@import "./components/_track_widget.scss";
@import "./components/_track_table.scss";
@import "./components/_user_link.scss";
@import "./components/_volume_control.scss";

@import "./pages/_about.scss";
@import "./pages/_admin_account_detail.scss";
@import "./pages/_admin_domain_detail.scss";
@import "./pages/_admin_library.scss";
@import "./pages/_artists.scss";
@import "./pages/_home.scss";
@import "./pages/_library.scss";
@import "./pages/_notifications.scss";
@import "./pages/_profile.scss";

@import "./themes/light/_main.scss";
@import "./themes/dark/_main.scss";
